/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.blockElement:first-of-type .blockImage {
	max-width: 350px;
	background: rgba(0, 0, 0, 0.7);
	padding: 15px;
	text-align: left;
	border-radius: 5px;
}

.code-block {
	background: rgba(0, 0, 0, 0.7);
	color: white;
}

.code-block:before {
	content: '$ ';
	opacity: 0.7;
}

.spinner {
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Lucida Console', Monaco, monospace;
}

.spinner-color {
	color: #61afef;
}

.command {
	opacity: 0.5;
}
